<nav class="navbar">
    <div>
        <img src="assets/Seoul.png" alt="seoul" height="40px"/>
    </div>

    <div class="center-div">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a *ngIf="employeeService.roleMatch('ADMIN') ||  employeeService.roleMatch('MANAGER') "  routerLink="/admin">Admin Dashboard</a></li>
            <li *ngIf="employeeService.roleMatch('WORKER')"><a (click)="room(userName)" class="links">Worker Room</a></li>
            <li *ngIf="employeeService.roleMatch('WORKER')"><a (click)="tasks(userName)" class="links">My tasks</a></li>
            <li *ngIf="employeeService.roleMatch('ADMIN')"><a routerLink="/finance">Finance</a></li>
            <li *ngIf="employeeService.roleMatch('ADMIN')"><a routerLink="/branches">Branches</a></li>
            <li><a routerLink="/register">Register</a></li>
            <div *ngIf="loaderService.isLoading | async" class="loader-container">
                <mat-spinner ></mat-spinner>
            </div>
            
        </ul>
    </div>
    
    <div >
        
        <button class="login" *ngIf="router.url !='/login' && !isLoggedIn()" routerLink="/login">Login</button>
        <button class="logout" *ngIf="isLoggedIn()" (click)="logOut()">Logout</button>
    </div>

</nav>
