<div class="table">
    <table class="employee-table">
        <thead>
            <tr><th>Branches</th></tr>
        </thead>
        <tbody>
            <tr>
                <td (click)="clickFunction('bishkek','Bishkek')">Bishkek</td>
            </tr>
            <tr>
                <td (click)="clickFunction('chuy','Chuy')">Chuy</td>
            </tr>
            <tr>
                <td (click)="clickFunction('naryn','Naryn')">Naryn</td>
            </tr>
            <tr>
                <td (click)="clickFunction('issykkul','Issyk-Kul')">Issyk-Kul</td>
            </tr>
            <tr>
                <td (click)="clickFunction('talas','Talas')">Talas</td>
            </tr>
            <tr>
                <td (click)="clickFunction('jalalabad','Jalal-Abad')">Jalal-Abad</td>
            </tr>
            <tr>
                <td (click)="clickFunction('osh','Osh')">Osh</td>
            </tr>
            <tr>
                <td (click)="clickFunction('batken','Batken')">Batken</td>
            </tr>
        </tbody>
    </table>
</div>

