
<div class="table">
    <mat-icon id="refresh" (click)="refresh()">autorenew</mat-icon> 
    <table class="employee-table">

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Job Begin</th>
                <th>Job End</th>
                <th>Branch</th>
                <th>Experience (years)</th>
                <th>Tasks</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | async">
                <td *ngIf="username !== employee.userName; then thenBlock else elseBlock">
                </td>
                <ng-template #thenBlock><td>{{employee.firstName}}</td></ng-template>
                <ng-template #elseBlock><td>{{employee.firstName}}<br> (ME)</td></ng-template>
                <td>{{employee.lastName}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.jobBegin}}</td>
                <td>{{employee.jobEnd}}</td>
                <td>{{employee.branch}}</td>
                <td>{{employee.experience}}</td>
                <td>
                    <button style="background-color: orange;" (click)="taskOfWorker(employee.userName)">Tasks</button>
                </td>
                <td class="buttonCell">
                    <button *ngIf="employee.userName != 'pewipo1536@dakcans.com'" class="edit" (click)="updateEmployee(employee.userName)">Edit</button> 
                    <button *ngIf="username != employee.userName && employee.userName != 'pewipo1536@dakcans.com'" class="remove" (click)="deleteEmployee(employee.userName)">Remove</button>
                    
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
