<div class="update">
    <h3 style="text-align: center;">Change Expenses</h3>
     <form (ngSubmit)="onSubmit()" class="update-employee">
         <div>
             <label for="instagram">Instagram</label>
             <input type="number" id="instagram" [(ngModel)]="markerExpenses.instagram" name="instagram">
         </div>
         <div>
             <label for="facebook">Facebook</label>
             <input type="number" id="facebook" [(ngModel)]="markerExpenses.facebook" name="facebook">
         </div>
         <div>
             <label for="lalafo">Lalafo</label>
             <input type="number" id="lalafo" [(ngModel)]="markerExpenses.lalafo" name="lalafo">
         </div>
        
         <button>Change</button>
     </form>
 
 </div>
