.wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ::ng-deep .registerDialog > mat-dialog-container {
    background-color: rgba(0,0,0,.8);
} */