<div style="background-color: black; color: white;">
    <div class="two_grid">
        <div class="left">
            <h1>Delicious dish</h1>
            <h3>Natural products, best cook, friendly people</h3>
            <h4>We always glad to see you. We offer the best dishes for best prices</h4>
        </div>

        <div class="right">
            <img src="assets/welcome.png" alt="">
        </div>
    </div>
    <hr>
    <div class="two_grid">
        <div class="right">
            <img src="assets/findus.png" alt="cocktail">
        </div>
        <div class="left">
            <h2 style="margin-bottom: 30px;">Cocktails</h2>
            <h3>Aperol Sprtiz ____________________ $20</h3>
            <h5>Aperol | Villa Marchesi | Soda </h5>
            <br>

            <h3>Dark 'N' Stormy _________________ $16</h3>
            <h5>Dark Run | Ginger Beer | SLice of Lime</h5>
            <br>

            <h3>Daiquiri __________________________ $10</h3>
            <h5>Rum | Citrus Juice | Sugar</h5>
            <br>

            <h3>Old Fashioned ___________________ $31</h3>
            <h5>Bourbon | Brown Sugar | Angostura Bitters</h5>
            <br>

            <h3>Negroni __________________________ $26</h3>
            <h5>Gin | Sweet Vermouth | Campari | Orange Garnish</h5>
            <br>
        </div>
    </div>
    <hr>
    <div class="two_grid">
        <div class="left">
            <h1>Emir Abdybekov</h1>
            <h2>Our cook</h2>
            <br>
            <h3>"My name is Emir and I realy love cooking. I am also dancer. Sometimes I work as loader.
                Life is hard but I love it. I try do my best always."</h3>
        </div>
        <div class="right">
            <img src="assets/chef.png" alt="chef">
        </div>
    </div>
    <hr>
    <div class="app__footer-links">
        <div class="app__footer-links_contact">
            <h1 class="app__footer-headtext">Our contacts</h1>
            <p>Chuy st, Bishkek, Kyrgyzstan</p>
            <p>+996 509-09-16-25</p>
            <p>+996 312-45-65-77</p>
        </div>

        <div class="app__footer-links_logo">
            <img src="assets/gericht.png" alt="footer_logo" />
            <p>&quot;Best dishes only here.&quot;</p>
            <img src="assets/spoon.png" class="spoon__img" style="margin-top: 15px;" />

        </div>

        <div class="app__footer-links_work">
            <h1 class="app__footer-headtext">Work hours</h1>
            <p>Monday-Friday:</p>
            <p>08:00 am - 12:00 am</p>
            <p>Saturday-Sunday:</p>
            <p>07:00 am - 11:00 pm</p>
        </div>


    

    </div>
</div>
